<header id="header">
	<div class="wrap">
		<!-- <a href="{{ site.baseurl }}"> -->
		<a href="https://surimemo.com" style="font-family:'Kaushan Script', cursive;"class="header_title">
		  New Plans
		</a>
		<div class="menu">
			<ul class="menu_list">
				<li class="menu_list_item">
					<a href="https://surimemo.com">Home</a>
				</li>
				<!-- <li class="menu_list_item">
					<a href="https://surimemo.com/Project">Project</a>
				</li>
				<li class="menu_list_item">
					<a href="https://surimemo.com/Blog">Blog</a>
				</li> -->
			</ul>
		</div>
	</div>
</header>
